
html, body, #root {
	height: 100%;
	width: 100%;
  }

.headerFixperto{
	  width: 125px;
	  height: 40px;
  }

.container_web{
  width: 60%;
  margin: auto;
}

.seccion_nav{
  height: 150px;
}

.seccion_nav .img_logo{
  width: 100%;
  position: relative;
  display: flex;
}

.seccion_nav .text_nav{
  position: relative;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.seccion_nav .text_nav p{
  color: #273861;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.seccion_nav .text_nav button{
  background-color: #43AECC;
  height: 30px; 
  margin-left: 0px;
  margin-top: 25px;
  border-radius: 7px;
  color: white;
  padding:  0px ;
  padding-left: 20px;
  padding-right: 30px

}

.seccion_nav .text_nav{
  position: relative;
  display: flex;
}

.seccion_nav .img_logo img{
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}


.fondPage{
  background-color:#273861;
  align-items: center;
}
.textLink{
  cursor: pointer;
}

.links {
  margin-bottom: 10px;
}

.link {
  margin: 0 10px;
}

.tabs {
  padding: 20px;
  border: 1px solid #f5f5f5;
}


.formRegister, .beneficios, .codigo, .perfil{
  padding-top: 30px;
}

.formRegister .img_avatar{
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  border: dotted  #676767;
}

h1.titleRegister{
  text-align: center;
  color: #273861;
  font-size: 2rem;
  font-weight: bold;
}

.formRegister p{
  text-align: center;
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
}

.formRegister .img_upl{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formRegister, .beneficios{
  width: 90%;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.formRegister form input{
  margin-bottom: 25px;
}

.formRegister form select{
  background: transparent;
}

.formRegister label{
  color: #676767;
}

.formRegister .labelCheck{
  margin-left: 10px;
}

.formRegister .labelCheck a, .codigo a{
  color: #43AECC;
  font-weight: bold;
}

.beneficios .text_ben p{
  color: #676767;
  font-size: 1rem;
  margin-left:  30px;
  margin-right: 30px;
}

.beneficios img{
  position: relative;
  width: 50%;
  left: 25%;
  margin-bottom: 20px;
}

.beneficios .p_btn{
  text-align: center;
}

.codigo p {
  text-align: center;
  margin-left:  30px;
  margin-right: 30px;
}

.codigo .cont_cod{
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  position: relative;
  margin-top: 20px;
}

.codigo .cont_cod input{
  width: 60px;
  height: 50px;
  border: none;
  border: solid 1px #676767;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 35%;
  color: #676767;
}

/******PERFIL********/
.perfil .card_perfil{
  position: relative;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.perfil .card_info{
  position: relative;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.perfil .card_perfil .info_person{
  background-color: #F8F8F8;
  padding: 10px;
  border-radius: 10px;
}

.perfil .img_upl img{
  width: 50%;
}

.perfil .card_perfil h5{
  color: #273861;
  font-weight: bold;
}

.perfil .card_perfil .img_star{
  width: 20px;
  margin-top: -8px;
  margin-right: 5px;
}

.perfil .card_perfil .copy{
  background-color: #ECF7F9;
  padding: 5px;
  margin-top: 20px;
}

.perfil .card_perfil .copy .img_alert {
  width: 50%;
  position: relative;
  left: 25%;
  top: 20px;
}

.perfil .card_perfil .copy p{
  color: #43AECC;
}

.perfil .card_perfil .title_datos h2{
  margin-left: 10px;
  font-size: 1.1rem;
  margin-top: 30px;
  color: #273861;
  font-weight: bold;
}

.perfil .card_perfil .title_datos .img_tus_datos{
  width: 7%;
  margin-right: 5px;
}

.perfil .card_perfil .list_datos{
  width: 80%;
  margin: auto;
  margin-top : 10px;
}

.perfil .card_perfil .list_datos .list{
  margin-top : 13px;
}

.perfil .card_perfil .list_datos a{
  color: #676767;
  text-decoration: none;
  font-weight: bold;
}

.perfil .card_perfil .list_datos img{
  width: 15px;
}

.perfil .btn_close{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.perfil .btn_close button{
  position: relative;
  border: solid #CE4343;
  width: 80%;
  left: 10%;
  color: #CE4343;
  border-radius: 7px;
}

.info_perfil_config p{
  text-align: center;
}

.info_perfil_config .check_config{
  padding-left: 20px;
}

.info_perfil_config .check_config label{
  padding-left: 20px;
  color: #273861;
}

.info_perfil_atencion p{
  text-align: center;
}

.info_perfil_atencion .btn_atencion_cliente{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info_perfil_atencion .table_atencion{
  width: 95%;
  margin: auto;
}

.info_perfil_atencion .table_atencion thead tr{
  background: #43AECC !important;
}

.btn_cerrar{
  color: #CE4343;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #CE4343;
}

.btn{
  background-color: #43AECC;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #43AECC;
}


/*******INFO COMPONENTES*********/

.info_perfil_comp .titleRegister{
  font-size: 1.5rem;
}

.info_perfil_comp div{
  margin-top: 20px !important;
}

@media(min-width : 48em){

  .container_web{
    width: 70%;
  }

  .seccion_nav{
    height: 90px;
  }


  .seccion_nav .text_nav{
    margin-top: 20px;
  }

  .seccion_nav .text_nav button{
    margin-left: 20px;
    margin-top: 15px;
    padding-right: 20px

  }

  .seccion_nav .img_logo img{
    margin-top: 20px;
    width: 60%;
  }


  .container{
    width: 80%;
    margin: auto;
  }

  .formRegister p{
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
    margin: auto;
  }

  .formRegister .img_upl{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .formRegister{
    width: 90%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .beneficios, .perfil{
    width: 95%;
  }

  .perfil .card_perfil .copy .img_alert {
    width: 40%;
    left: 30%;
    top: 10px;
  }

  .perfil .btn_close button{
    width: 60%;
    left: 20%;
  }
}

@media(min-width : 80em){


  .seccion_nav{
    height: 100px;
  }

  .seccion_nav .text_nav{
    margin-top: 25px;
  }


  .seccion_nav .text_nav button{
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px
  }

  .seccion_nav .img_logo img{
    width: 40%;
    margin-top: 30px;
  }


  .formRegister, .beneficiosm{
    width: 90%;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
  }

  .codigo .cont_cod input{
    padding-left: 18px;
  }

  .perfil .card_perfil .copy .img_alert {
    width: 30%;
    left: 35%;
    top: 10px;
  }

  .perfil .card_perfil .title_datos h2{
    margin-left: 55px;
  }

  .perfil .btn_close button{
    width: 40%;
    left: 30%;
  }

}