@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
/*Estilo del mapa*/
.mapContainer {
  height: 300px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 20px;
}

html, body, #root {
	height: 50vh;
  width: 100%;
  font-family: "Raleway"!important;
  background: #F8F8F8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway"!important;
}
a{
  text-decoration: none;
}
.footerFixperto{
	width: auto;
	height: 45px;
}

.container_web{
  width: 90%;
  margin: auto;
}

.seccion_nav{
  height: 150px;
}

.seccion_nav .img_logo{
  width: 100%;
  position: relative;
  display: flex;
}

.seccion_nav .text_nav{
  position: relative;
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.seccion_nav .text_nav p{
  color: #273861;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.seccion_nav .text_nav button{
  background-color: #43AECC;
  height: 30px; 
  margin-left: 0px;
  margin-top: 25px;
  border-radius: 7px;
  color: white;
  padding:  0px ;
  padding-left: 20px;
  padding-right: 30px

}

.seccion_nav .text_nav{
  position: relative;
  display: flex;
}

.seccion_nav .img_logo img{
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 15px;
}


.fondPage{
  flex-direction: row;
  background-color:#273861;
  align-items: center;
  padding-bottom: 3px;
}

.fondPage a{
  text-align: left;
}

.fondPage a:hover{
  background-color: #43AECC !important;
  color: white !important;
}



.blue_menu{
  background-color: #43AECC;
  width: 100%;
}

.blue_menu_dark{
  background-color: #273861;
}

.textLink{
  cursor: pointer;
}

.links {
  margin-bottom: 10px;
}

.link {
  margin: 0 10px;
}

.tabs {
  padding: 20px;
  border: 1px solid #f5f5f5;
}


.formRegister, .beneficios, .codigo, .perfil{
  padding-top: 30px;
}

.formRegister .img_avatar{
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  border: dotted  #676767;
}

h1.titleRegister{
  text-align: center;
  color: #273861;
  font-size: 2rem;
  font-weight: bold;
}

.formRegister p{
  text-align: center;
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
}

.formRegister .img_upl{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formRegister, .beneficios{
  width: 90%;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.formRegister form input{
  margin-bottom: 25px;
}

.formRegister form select{
  background: transparent;
}

.formRegister label{
  color: #676767;
}

.formRegister .labelCheck{
  margin-left: 10px;
}

.formRegister .labelCheck a, .codigo a{
  color: #43AECC;
  font-weight: bold;
}

.beneficios .text_ben p{
  color: #676767;
  font-size: 1rem;
  margin-left:  30px;
  margin-right: 30px;
}

.beneficios img{
  position: relative;
  width: 48%;
  left: 25%;
  margin-bottom: 20px;
}

.beneficios .p_btn{
  text-align: center;
}

.codigo p {
  text-align: center;
  margin-left:  30px;
  margin-right: 30px;
}

.codigo .cont_cod{
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  position: relative;
  margin-top: 20px;
}

.codigo .cont_cod input{
  width: 80%;
  border: none;
  border: solid 1px #676767;
  text-align: center;
  font-size: 1.5rem;
  color: #676767;
}

/******PERFIL********/
.perfil .card_perfil{
  position: relative;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 95%;
}

.perfil .card_info{
  position: relative;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 45px;
  vertical-align: top;
  padding: 10px;
  margin-top: 20px;
  height: 600px;
  overflow-y: scroll;
}

.perfil .card_perfil{
  height: auto !important;
}

.list_soli .perfil .card_info{
  height: auto !important;
}

.perfil .card_datos{
  padding: 20px;
}

.perfil .card_perfil .info_person{
  background-color: #F8F8F8;
  padding: 20px;
  border-radius: 10px;
}

.perfil .img_upl img{
  width: 50%;
}

.perfil .card_perfil h5{
  color: #273861;
  font-weight: bold;
}

.perfil .card_perfil .img_star{
  width: 20px;
  margin-top: -8px;
  margin-right: 5px;
}

.copy{
  background-color: #ECF7F9;
  padding: 5px;
  margin-top: 20px;
}

.copy .img_alert {
  width: 50%;
  position: relative;
  left: 25%;
  top: 20px;
}

.copy p{
  color: #43AECC;
  font-weight: bold;
  padding-right: 5px;
}

.perfil .card_perfil .title_datos h2{
  margin-left: 10px;
  font-size: 1.1rem;
  margin-top: 30px;
  color: #273861;
  font-weight: bold;
}

.perfil .card_perfil .title_datos .img_tus_datos{
  width: 7%;
  margin-right: 5px;
}

.perfil .card_perfil .list_datos{
  margin-top : 10px;
}

.perfil .card_perfil .list_datos .list{
  margin-top : 13px;
}

.perfil .card_perfil .list_datos .list{
  padding-left: 50px;
}

.perfil .card_perfil .list_datos a{
  color: #676767;
  text-decoration: none;
  font-weight: bold;
}


.perfil .card_perfil .list_datos a.active{
  color: #2297B1;
}

.perfil .card_perfil .list_datos img{
  width: 15px;
}

.perfil .btn_close{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.perfil .btn_close button{
  position: relative;
  border: solid #CE4343;
  width: 80%;
  left: 10%;
  color: #CE4343;
  border-radius: 7px;
}

.info_perfil_config .check_config{
  padding-left: 20px;
}

.info_perfil_config .check_config label{
  padding-left: 20px;
  color: #273861;
}

.info_perfil_atencion p{
  text-align: center;
}

.info_perfil_atencion .btn_atencion_cliente{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info_perfil_atencion .table_atencion{
  width: 95%;
  margin: auto;
}

.info_perfil_atencion .table_atencion thead tr{
  background: #43AECC !important;
}

.info_perfil_terminos{
  width: 90%;
  margin: auto;
}

.info_perfil_terminos p {
  text-align: justify;
}

.btn_cerrar{
  color: #CE4343;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #CE4343;
}

.btn{
  background-color: #43AECC;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #43AECC;
}

.btn_ubicacion{
  background-color: white;
  color: #43AECC;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #43AECC;
  width: 100%;
}


/*******INFO COMPONENTES*********/

.info_perfil_comp div{
  margin-top: 20px !important;
}

.info_perfil_comp  p {
  text-align: center;
}


/***************SERVICIOS******************/


.servicios .buscador{
  width: 100%;
  background-color:#43AECC;
  padding: 20px;
}

.servicios .buscador h3{
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #1a1a1a;
}

.servicios .buscador input{
  width: 80%;
  margin: auto;
  position: relative;
}

.servicios .list_servicios{
  width: 95%;
  margin: auto;
}


.servicios .add_cat p {
  text-align: center;
  color: #43AECC;
  font-weight: bold;
  font-size: 1.2rem;
}

.servicios .add_cat input {
  width: 80%;
  position: relative;
  left: 10%;
  border-radius: 0;
}

.servicios .list_servicios .card_serv{
  width: 80%;
  margin: auto;
  padding: 5px;
  height: 110px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.servicios .list_servicios .card_serv img{
  width: auto;
  height: 55px;
  position: relative;

  margin-top: 10px;
}

.servicios .list_servicios .card_serv p{
  color: #273861;
  font-size: 12px;
  text-align: center;
}

.categorias_serv{
  width: 90%;
  margin: auto;
}

.categorias_serv .item{
  margin-bottom: 5px;
}

.categorias_serv img{
  width: 50%;
  position: relative;
  left: 25%;
}

.categorias_serv .text a{
  text-decoration: none;
  position: relative;
  top: 5px;
}

.categorias_serv .img_continue{
  width: 20%;
  position: relative;
}

.nueva_solicitud .item{
  margin-bottom: 20px;
}

.nueva_solicitud img{
  width: 100%;
  position: relative;
}

.nueva_solicitud .img_new{
  width: 100px;
  margin-bottom: 20px;
}

.nueva_solicitud .img_elim{
  position: absolute;
  width: 20px;
  z-index: 1;
  margin-left: 90px;
  margin-top: -5px;
}

.nueva_solicitud .text a{
  text-decoration: none;
  position: relative;
  top: 5px;
  left: 10px;
}

.text_blue{
  color: #273861;
  font-weight: bold;
}

.nueva_solicitud input{
  margin-bottom: 15px;
}

.nueva_solicitud .ubicacion p img{
  width: 8%;
  margin-right: 10px;
}

.nueva_solicitud .btn{
  width: 100% !important;
}

/*********SOLICITUDES*********/

.solicitudes .progreso{
  background-color: #E7F6D7;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;

}

.solicitudes .progreso img{
  width: 80%;
  position: relative;
  padding: 5px;
  left: 10%;
  top: 10px;
}

.solicitudes .progreso p{
  color: #72B330;
  font-weight: bold;
  font-size: 16px;
}

.solicitudes .list_datos div {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}

.solicitudes .list_datos div.active {
  border-right: 4px solid #43AECC;
}

.solicitudes .list_datos div.active a{
  color: #43AECC !important;
  font-weight: bold;
}

.solicitudes .serv{
  margin-top: 20px;
}

.solicitudes .cont-card{
  padding-top: 20px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.solicitudes .serv .icon_card{
  padding: 5px;
  border-radius: 7px;
  box-shadow:  5px 5px 15px #E2E2E2, 
             -5px -5px 12px #E2E2E2
}

.solicitudes .serv img.img_serv{
  width: 100%;
  position: relative;
  top: 0px;
}

.solicitudes .serv p{
 text-align: left;
 margin-left: 20px;
 margin-top: 5px;
 margin-bottom: 5px;
}

.solicitudes .serv p span{
 color: #273861;
 font-weight: bold;
}

.solicitudes .serv img.img_esperando{
  width: 8%;
  position: relative;
  margin-right: 5px;
}

.solicitudes .serv img.img_mas{
  width:20px;
  position: relative;
  margin-right: 5px;
}

.solicitudes .w3-margin-bottom{
  margin-bottom: 8px !important;
}

.solicitudes .detalle_solic{
  padding: 20px;
  background-color: #F4F4F4;
}

.solicitudes .detalle_solic .icon_card{
  border-radius: 7px;
  padding: 5px;
  position: relative;
  top: 40px;
}

.solicitudes .detalle_solic .icon_card_detalle{
  border-radius: 7px;
  position: relative;
  top: 20px;
  box-shadow: 5px 5px 15px #E2E2E2, -5px -5px 12px #E2E2E2;
  margin: auto;
  margin-bottom: 25px;
  padding: 5px;
}

.solicitudes .detalle_solic .icon_card_detalle_modal{
  border-radius: 7px;
  position: relative;
  top: 20px;
  box-shadow: 5px 5px 15px #E2E2E2, -5px -5px 12px #E2E2E2;
  margin: auto;
  margin-bottom: 30px;
  width: 25%;
  padding: 10px;
}


.image {
  width: auto;
}

.section_experto .certif{
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  position: relative;
  top: 0px;
}

/*******CSS HEADER*********/
.headerFixperto{
  width: auto;
  height: 40px;
}
.text-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-end;
  width: 30%;
  padding: 0;
  color: #9c9090;
  font-size: 1em;
}
.text-header .w3-cell p {
  margin: 0;
} 






/*******CSS REGISTRO*********/
.aling-center {
  text-align: center;
}


.flex-aling{
  display: flex;
  align-items: center;
}

.text-ingreso {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.text-ingreso h1 {
  font-size: 2.3em;
  margin: 0;
  padding: 0;
}

.text-ingreso p {
  font-size: 1.3em;
  padding: 0;
  width: 85%;
}

.padd-general {
  padding: 15px 20% 15px 20%;
}

.input-registro  {
  border-radius: 0 7px 7px 0;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 10px;
}

.icon-email {
  border-radius: 10px;
}

.icons::before{
  content: "";
  width: 10px;
  height: 10px;
  background-color:"#000"
}

.icon-clave  {
  border-radius: 10px;
}

.padd-ingreso {
  padding: 0 10% 0 10%;
}

/*************FIXPERTO****************/

.card_fixperto{
  position: relative;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  width: 97%;
}


.card_fixperto h1{
  position: relative;
  left: 10px;
  margin-top: 30px;
  font-size: 2.7rem;
  color: #273861;
}

.card_fixperto .icon-card{
  box-shadow: 5px 5px 15px #ddd, -5px -5px 12px #E2E2E2;
  width: 50%;
  border-radius: 7px;
  padding: 15px;
  position: relative;
  left: 25%;
  margin-top: 10px;
}

.plan_fixperto{
  border: solid 2px #4caf50;
  border-radius: 3px;
}

.plan_fixperto p{
  margin: auto;
}

.texto_fixperto{
  background-color: #D9F5BB;
  padding: 10px;
}

/*******CSS GENERALES*********/
.imagen-solicitud {
  width: 50px;
  height: 50px;

}
.imagen-icono {
  width: 25px;
  height: 25px;
}
.imagen-experto {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.padd-general {
  padding: 15px 20% 10px 20%;
}

.margin-tb {
  margin: 20px 0 20px;
}

.padd-footer {
  padding: 0 20% 0 20%;
}

.blue {
  background-color: #43AECC;
}

.blue:hover {
  background-color: #2297B1 !important;
}

.blue-border {
  border-color: #43AECC!important;
}

.blue-border:hover {
  background-color: #2297B1 !important;
}

.text-blue {
  color: #43AECC!important;
}

.text-blue:hover {
  color: #ffffff !important;
}

.form-ancho {
  width: 71%;
}

.padd-cinco {
  padding: 5px;
}

.cursor {
  cursor: pointer;
}

.apps {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.apps img {
  margin: 0;
}

.apps b {
  padding-right: 8px;
}

.apps p {
  padding-right: 8px;
}

.text-blue-contrasena {
  color: #43AECC!important;
}

.text-blue-contrasena:hover {
  color: #43AECC!important;
}

.text_blue_cl{
  color: #43AECC!important;
  font-weight: bold;
}

.logo-footer {
  width: 50%;
}

.flex-aling-footer{
  display: flex;
  align-items: center;
}

.alto {
  height: 100vh;
}

.header-blanco { 
  background-color:#ffffff;
}

.titleRegister {
  font-size: 2.3em;
}

.icono-menu {
  width: 30´x;
  height: 30px;
  margin-right: 10px;
}

.box-servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.azul-oscuro {
  color:#273861!important; 
}

.azul-oscuro h3 {
  color:#273861!important; 
}

.info_perfil_comp .margin-cero {
  margin-top: 0!important;
}

/*.nueva_solicitud {
  padding: 10px 15%;
}*/

.btn_cancelar_solic{
  width: 100%;
  margin: auto;
  border: #CE4343 solid 2px;
  padding: 10px 35px !important;
  color: #CE4343;
  font-weight: bold;
  border-radius: 7px;
  margin-top: 23px !important;
  text-align: center;
}

.w3-tiny{
  font-size: 12px !important;
}


.section_experto{
  border-bottom: solid #72B330;
  padding-bottom: 10px;
}


.divider .divider_line{
  border: solid 1px #43adcc;
  margin-top: 26px;
  width: 90%;
}

.divider h3{
  font-size: 1.5rem;
  text-align: center;
  color: #273861;
  font-weight: bold;
}


/*************CHAT**************/

.card_chat_1{
  position: relative;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 45px;
  vertical-align: top;
}

.card_chat_1 ul{
  border-radius: 10px;
}

.card_chat_1 ul li {
  padding: 15px;
}

.card_chat_1 .img_chat_icon{
  width: 40px;
  height: 40px;
}

.card_chat_1 .text_name{
  font-size: 1rem !important;
}
/***********MODALES*************/

.modal_problem{
  width: 90% !important;
  margin: auto;
}

.modal_solicitud{
  width: 90% !important;
  margin: auto;
  margin-top: 0px;

}

.modal_calificar{
  width: 90% !important;
  margin: auto;
  height: 400px;
  overflow-y: scroll;
}

.modal_oferta{
  width: 90% !important;
  margin: auto;
  height: 400px;
  overflow-y: scroll;
}

.modal_oferta .imagen-exp{
  width: 80%;
  border-radius: 10px;
  position: relative;
  left: 10%
}

.modal_alerta{
  width: 80% !important;
  margin: auto;
  margin-top: 0px;
}

.img_fixperto img{
  width: 60%;
  height: auto;
  margin-top: 30px;;
}


@media (max-width : 790px) {
  .flex-aling-footer{
    flex-direction: column;
    align-items: center;
  }

  .logo-footer {
    text-align: center;
  }

  .apps {
    align-items: center;
    width: 100%;
  }

  .padd-footer {
    padding-top: 10px;
    padding: 10px 0 0 0;
  }

  .padd-ingreso {
    padding: 5px;
  }

}

@media (max-width : 560px) {
 .padd-general {
    padding-left: 3%;
    padding-right: 3%;
  }
  .padd-ingreso {
      padding: 0;
  }

  .padd-ingreso {
    padding: 0;
  }

  .form-ancho {
    width: 90%;
  }
  .margin-tb {
    margin: 0;
  }
}


@media(min-width : 48em){

  .card_chat_1 ul {
    height: 700px;
  }

  .section_experto .certif{
    top: 20px;
  }

  .modal_solicitud {
    width: 80%!important;
  }

  .modal_problem{
    width: 80%!important;
  }

  .modal_calificar{
    width: 50% !important;
    height: 600px;
  }

  .modal_oferta{
    width: 70% !important;
    height: 600px;
  }

  .modal_oferta .imagen-exp{
    width: 60%;
    left: 20%
  }


  .solicitudes .detalle_solic .icon_card_detalle_modal {
    border-radius: 7px;
    position: relative;
    top: 20px;
    box-shadow: 5px 5px 15px #E2E2E2, -5px -5px 12px #E2E2E2;
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
    padding: 15px;
  }

  .fondPage a{
    text-align: center;
    width: 100%;
  }

  .fondPage .menu{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .perfil .card_info, .perfil .card_perfil{
    top: 0px;
    height: 700px !important;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 0px;
  }

  .container_web{
    width: 70%;
  }

  .seccion_nav{
    height: 90px;
  }


  .seccion_nav .text_nav{
    margin-top: 20px;
  }

  .seccion_nav .text_nav button{
    margin-left: 20px;
    margin-top: 15px;
    padding-right: 20px

  }

  .seccion_nav .img_logo img{
    margin-top: 20px;
    width: 60%;
  }

  .solicitudes .detalle_solic .icon_card{
    padding:10px;
    top: 35px;
  }


  .container{
    width: 90%;
    margin: auto;
  }

  .formRegister p{
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
    margin: auto;
  }

  .formRegister .img_upl{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .formRegister{
    width: 90%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .beneficios{
    width: 95%;
  }

  h1.titleRegister {
    font-size: 2rem;
  }

  .perfil{
    width: 100%;
  }

  .perfil .card_perfil .copy .img_alert {
    width: 40%;
    left: 30%;
    top: 10px;
  }

  .perfil .btn_close button{
    width: 80%;
    left: 10%;
  }

  .servicios .buscador{
    padding: 50px 0 50px 0;
  }

  .servicios .buscador h3{
    font-size: 25px;
  }

  .servicios .buscador input{
    width: 30%;
    border-radius: 8px;
    margin: 20px auto 20px;
  }

  .servicios .list_servicios{
    width: 80%;
    margin: auto;
  }

  
  .categorias_serv{
    width: 70%;
  }

  .categorias_serv img{
    width: 40%;
    left: 30%;
  }

  .categorias_serv .text a{
    top: 10px;
  }

  .categorias_serv .img_continue{
    width: 15%;
  }


  .nueva_solicitud img{
    width: 70%;
  }

  .nueva_solicitud .text a{
    top: 15px;
    left: 0px;
  }

  .nueva_solicitud .ubicacion p img{
    width: 6%;
  }

  .btn_ubicacion{
    width: 100%;
  }

  .nueva_solicitud .btn{
    width: 100% !important;
  }

  
  .solicitudes .progreso{
    width: 95%;
  }

  .solicitudes .progreso img{
    width: 60px;
    left: 20%;
  }

  .solicitudes .serv .icon_card{
    padding: 10px;
  }

  
  .solicitudes .serv img.img_serv{
    width: 80%;
    left: 10%;
  }


  .solicitudes .serv img.img_esperando{
    width: 9%;
  }

  .solicitudes .serv img.img_mas{
    width: 20px;
  }

}

@media(min-width : 80em){

  .modal_solicitud {
    width: 40% !important;
  }

  .modal_problem{
    width: 40%!important;
    margin-top: 0;
  }

  .modal_alerta {
    width: 30% !important;
    margin: auto;
    margin-top: 0px;
  }

  .modal_calificar{
    width: 35% !important;
    height: 550px;
    margin-top: -20px;
  }

  .modal_oferta{
    width: 30% !important;
    height: 500px;
    margin-top: 0;
  }

  .modal_oferta .imagen-exp{
    width: 60%;
    left: 20%
  }

  .perfil .card_info{
    height: 700px;
  }

  .btn_cancelar_solic{
    width: 100%;
  }

  .servicios .buscador h3{
    font-size: 20px;
  }

  .fondPage .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
  }

  .menu .w3-button{
    padding: 8px 16px !important;
  }

  .seccion_nav{
    height: 100px;
  }

  .perfil {
    width: 80%;
    margin: auto;
  }

  .seccion_nav .text_nav{
    margin-top: 25px;
  }

  h1.titleRegister {
    font-size: 2em;
  }

  .seccion_nav .text_nav button{
    margin-left: 15px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px
  }

  .seccion_nav .img_logo img{
    width: 40%;
    margin-top: 30px;
  }


  .formRegister, .beneficiosm{
    width: 90%;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
  }

  .codigo .cont_cod input{
    padding-left: 18px;
  }

  .perfil .card_perfil .copy .img_alert {
    width: 30%;
    left: 35%;
    top: 10px;
  }

  .perfil .card_perfil .title_datos h2{
    margin-left: 20px;
  }

  .perfil .btn_close button{
    width: 90%;
    left: 5%;
  }

  .servicios .buscador input{
    width: 30%;
  }

  .servicios .list_servicios{
    width: 60%;
    margin: 25px auto;
  }

  .servicios .list_servicios .card_serv{
    width: 80%;
  }

  .servicios .list_servicios .card_serv p{
    font-size: 11px;
  }

  .categorias_serv{
    width: 60%;
  }

  .categorias_serv img{
    width: 35%;
    left: 35%;
  }

  .categorias_serv .text a{
    top: 10px;
  }

  .categorias_serv .img_continue{
    width: 13%;
  }

  .nueva_solicitud img{
    width: 35%;
  }

  .nueva_solicitud .text a{
    top: 15px;
    left: -40px;
  }

  .nueva_solicitud .ubicacion p img{
    width: 3%;
    margin-right: 10px;
  }

  .btn_ubicacion{
    padding:8px 5px !important
  }
  .btn_ubicacion:hover{
    background-color:#43aecc!important ;
    color: #ffffff!important;
    font-weight: 700;
    
  }
  .nueva_solicitud .btn{
    padding: 8px 16px !important;
  }

   .solicitudes .progreso{
    width: 98%;
  }

  .solicitudes .cont_srv{
    margin-bottom: 20px;
  }

  .solicitudes .progreso img{
    width: 60px;
    left: 20%;
  }

  .solicitudes .serv .icon_card {
    width: 80%;
    margin: auto;
    position: relative;
    top: 8px;
  }

  .solicitudes .serv img.img_serv{
    width: 60%;
    position: relative;
    left: 20%;
  }

  .solicitudes .serv img.img_esperando{
    width: 6%;
  }

  .solicitudes .serv img.img_mas{
    width: 20px;
  }

  .fondPage img {
    width: auto;
  }

  .experto_vista{
    width: 80%;
    margin: auto;
  }

  .btn_chat{
    background-color: #ECF7F9;
    color: #2297B1;
    font-size: 1.3rem;
  }

  .btn_oferta{
    background-color: #2297B1;
    color: white;
    font-size: 1.3rem;
  }

  .btn_rechazar{
    background-color: #ce4342;
    color: white !important;
    font-size: 1.3rem;
    text-align: center;
  }

  .btn_cancel{
    border: #CE4343 solid;
    color: #CE4343;
    font-size: 1.3rem;
  }

  .btn_reportar{
    border: #2297B1 solid;
    color: #2297B1;
    font-size: 1.3rem;
  }

  .w3-border-blue, .w3-hover-border-blue:hover {
    border-bottom: solid #2297B1 !important;
  }

  .btn, .btn_ubicacion {
    width: 100%;
  }
}


